.page-header {
	background: #ffffff;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 80px;
	z-index: 2;
}
.nav-container {
	padding-bottom: 18px;
	padding-top: 19px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	.logo {
		width: 200px;
	}
	.nav-menu {
		font-family: "Montserrat";
		font-weight: 500;
		font-size: 18px;

		.nav-list {
			display: flex;

			.link-items {
				margin-left: 57px;
				&:first-child {
					margin-left: 0;
				}
			}
			.custom-font {
				font-family: "Raleway";
				font-weight: 600;
				font-size: 16px;
				text-align: center;
				color: #1a1a1a;

				background: #fcaa23;
				border-radius: 42px;
				padding: 17px 20px;
			}
		}
	}
}
@media (min-width: 992px) {
	.nav-container {
		position: relative;
	}
	.menu-button {
		display: none;
	}
}

@media (max-width: 991px) {
	.nav-container {
		padding-bottom: 0;
	}
	.menu-button {
		padding: 0;
		margin: 0;
		display: inline-flex;
		border: none;
		background-color: transparent;
		&.is-open {
			.icon-cross {
				display: block;
			}
			&.is-open {
				.icon-burger {
					display: none;
				}
			}
		}
		.icon-cross {
			display: none;
		}
	}
	.sprite {
		height: 24px;
		width: 24px;
	}
	.nav-menu {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		background: white;
		width: 100%;
		&.is-open {
			display: block !important;
		}
		.nav-list {
			display: block !important;
			text-align: center;

			padding-bottom: 25px;
		}
	}
}
