.section-hero {
	margin-bottom: 96px;
	background-image: url(../images/common/hero.svg);

	background-repeat: no-repeat;
	background-position: right 35% top;
}

.tittle-hero {
	margin: 0;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 56px;

	padding-top: 187px;
}

.p-hero {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	width: 658px;
	padding-top: 10px;

	color: #4d4d4d;
}
.btn-hero {
	padding-top: 44px;

	.a-hero {
		font-family: "Raleway";

		font-weight: 600;
		font-size: 24px;

		text-align: center;
		text-transform: uppercase;
		background: #fcaa23;
		border-radius: 42px;
		padding: 28px 41px;
	}
}

.description-school {
	padding-top: 232px;
	display: flex;
	.description-list {
		display: flex;
		.description-items {
			margin-left: 32px;
			&:first-child {
				margin-left: 0;
			}
			.description-logo {
				height: 71px;
				width: 70px;
				margin-left: auto;
				margin-right: auto;
			}

			.p-descriprion {
				font-family: "Montserrat";
				font-style: normal;
				font-weight: 500;
				font-size: 24px;

				text-align: center;
				color: #4d4d4d;
			}
		}
	}
}
@media (min-width: 992px) {
	.adap-hero {
		display: none;
	}
	.swiper-container {
		display: none;
	}
}
@media (max-width: 991px) {
	.section-hero {
		background-image: none;
		.tittle-hero {
			margin-top: 0;
			padding-top: 60px;
		}
		.adap-hero {
			width: 100%;
		}
		.a-hero {
			display: block;
			margin-bottom: 16px;
		}
	}
	.visibiliti {
		display: none !important;
	}
	.description-school {
		padding-top: 72px !important;

		.description-items {
			margin: 0 !important;
			.p-descriprion {
				font-size: 14px !important;
			}
		}
	}
	.sliderhero {
		margin: 0 auto;
		width: 1000px;
		overflow-x: hidden;
		.slider-items {
			margin-left: 30px;
			.sec1slider {
				width: 50%;
			}
		}
	}
}
