.page-sec1 {
	padding-top: 202px;
}

.h2-sec1 {
	width: 280px;
	margin: 0;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 56px;
	line-height: 66px;

	color: #1a1a1a;
}
.p-sec1 {
	padding-top: 10px;
	width: 416px;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #4d4d4d;
}

.text-sec1 {
	background-image: url(../images/common/predmet.jpeg);

	background-repeat: no-repeat;
	height: 1216px;
}
