.h2-sec1 {
	padding-top: 105px;
	width: 280px;
	margin: 0;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 56px;
	line-height: 66px;

	color: #1a1a1a;
}
.p-sec1 {
	padding-top: 10px;
	width: 416px;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #4d4d4d;
}

.text-sec1 {
	background-image: url(../images/common/predmet.jpeg);

	background-repeat: no-repeat;
	height: 1216px;
}

@media (min-width: 992px) {
	.slider {
		display: none;
	}
}
@media (max-width: 992px) {
	.page-sec1 {
		padding-bottom: 40px;
	}
	.text-sec1 {
		background-image: none;
		height: 100%;
		.h2-sec1 {
			font-weight: 700;
			font-size: 24px;
			line-height: 28px;

			color: #1a1a1a;
			padding-top: 20px;
		}
		.p2-sec1 {
			font-size: 14px;
			line-height: 17px;

			color: #4d4d4d;
			padding-top: 24px;
		}
	}

	.slider {
		margin: 0 auto;
		width: 1000px;
		overflow: hidden;
		padding-bottom: 40px;
		.slick-dots {
		}
		.slider-items {
			div {
				display: flex;
				width: 500px;
			}
		}
	}

	/* The width of each slide */
}
@media (max-width: 596px) {
	.slider {
		margin: 0 auto;
		width: 1000px;
		overflow: hidden;

		.slick-dots {
			display: flex;
			justify-content: center;
			margin: 0;
			padding: 1rem 0;
			display: flex;
			position: absolute;
			top: 83%;
			left: 15%;
			list-style-type: none;
			li {
				margin: 0 0.25rem;
			}
			button {
				display: block;
				width: 1rem;
				height: 1rem;
				padding: 0;

				border: none;
				border-radius: 100%;
				background-color: orange;

				text-indent: -9999px;
			}
		}
		.slider-items {
			div {
				display: flex;
				width: 400px !important;

				.icon-p1 {
					margin-right: -130px;
				}
				.icon-p3 {
					margin-right: -130px;
				}
				.icon-p5 {
					margin-right: -130px;
				}
				.icon-p7 {
					margin-right: -130px;
				}
			}
		}
	}
}

@media (min-width: 597px) {
	.slick-dots {
		display: none !important;
	}
}
