.h2-sec1 {
	padding-top: 105px;
	width: 280px;
	margin: 0;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 56px;
	line-height: 66px;

	color: #1a1a1a;
}
.p-sec1 {
	padding-top: 10px;
	width: 416px;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #4d4d4d;
}

.text-sec1 {
	background-image: url(../images/common/predmet.jpeg);

	background-repeat: no-repeat;
	height: 1216px;
}

@media (min-width: 992px) {
	.slider {
		display: none;
	}
}
@media (max-width: 992px) {
	.text-sec1 {
		background-image: none;
		height: 380px;
	}

	.slider {
		margin: 0 auto;
		width: 1000px;
		overflow-x: hidden;
		.slider-items {
			div {
				display: flex;
				width: 500px;
			}
		}
	}

	/* The width of each slide */
}
@media (max-width: 596px) {
	.slider {
		margin: 0 auto;
		width: 1000px;
		overflow-x: hidden;
		.slider-items {
			div {
				display: flex;
				width: 400px !important;
			}
		}
	}
}
