.page-sec2 {
	background-image: url(../images/common/line.jpg);

	background-repeat: no-repeat;
	padding-bottom: 200px;
	background-position: bottom right;
}

.text-sec2 {
	display: grid;
	justify-content: end;

	padding-right: 40px;

	.h3-sec2 {
		padding-bottom: 35px;
		margin: 0;
		font-family: "Raleway";
		font-style: normal;
		font-weight: 700;
		font-size: 56px;
		color: #1a1a1a;
	}
	.p1-sec2 {
		margin: 0;
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 29px;

		color: #4d4d4d;
	}
	.p2-sec2 {
		padding-top: 35px;
		padding-left: 210px;
		padding-bottom: 20px;
		margin: 0;
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 29px;

		color: #4d4d4d;
	}
}
.buy-section {
	display: flex;

	.buy-section-items {
		text-align: center;

		font-family: "Raleway";
		font-style: normal;
		font-weight: 700;
		font-size: 32px;
		line-height: 38px;
		margin-left: 32px;

		width: 100%;

		box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
		border-radius: 10px;
		padding-left: 40px;
		padding-right: 40px;
		padding-bottom: 40px;
		&:first-child {
			margin-left: 0;
		}
	}
}

.pd-box-text {
	h4 {
		text-align: center;
		margin-bottom: 24px;
		font-family: "Raleway";
		font-style: normal;
		font-weight: 700;
		font-size: 32px;
		line-height: 38px;
		margin-bottom: 32px;
		margin-top: 32px;
		/* identical to box height */

		color: #1a1a1a;
	}
	p {
		text-align: left;
		margin-left: 30px;
		position: relative;
		margin: 0;
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 29px;
		margin-bottom: 16px;

		color: #4d4d4d;
		&::before {
			content: "";
			background-image: url(../images/common/lamp.svg);
			background-repeat: no-repeat;

			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			margin-left: -22px;
		}
	}
}
.btn-pay {
	padding-top: 60px;

	a {
		background: #fcaa23;
		border-radius: 42px;
		padding: 28px 35px;
		font-family: "Raleway";
		font-style: normal;
		font-weight: 600;
		font-size: 24px;
		line-height: 28px;
		text-align: center;
		text-transform: uppercase;

		color: #1a1a1a;
	}
}

.buy-section-top {
	position: relative;
	top: -135px;
	height: 495px;
}
.buy-section-mid {
	height: 452px;
	top: -43px;
	position: relative;
}
.buy-section-bottom {
	position: relative;

	top: 0;
}
.btn1 {
	padding-top: 83px;
}
.btn2 {
	padding-top: 98px !important;
}
.btn3 {
	padding-top: 32px !important;
}

@media (max-width: 991px) {
	.btn-pay {
		a {
			font-weight: 600;
			font-size: 14px;
			line-height: 16px;
			text-align: center;
			text-transform: uppercase;

			color: #1a1a1a;
		}
	}
	.page-sec2 {
		padding-bottom: 40px !important;
		background-image: none;

		background-repeat: no-repeat;
		padding-bottom: 0px;
		background-position: none;
		.h3-sec2 {
			font-weight: 700 !important;
			font-size: 24px !important;
			line-height: 28px !important;

			color: #1a1a1a;
		}
		.p1-sec2 {
			font-size: 14px !important;
			line-height: 17px !important;

			color: #4d4d4d;
		}
		.p2-sec2 {
			font-size: 14px !important;
			line-height: 17px !important;

			color: #4d4d4d;
		}
		.text-bloce-one {
			font-size: 20px !important;
			line-height: 23px !important;

			color: #1a1a1a !important;
		}
		.p-text-block-one {
			font-size: 14px !important;
			line-height: 17px !important;

			color: #4d4d4d;
		}
	}
	.slider-sec2 {
		.slider-items {
		}
	}
	.btn1 {
		padding-top: 39px !important;
	}
	.btn2 {
		padding-top: 72px !important;
	}
	.btn3 {
		padding-top: 20px !important;
	}
	.buy-section-items {
		height: 405px;
	}
}
