.page-sec3 {
	background: rgba(252, 170, 35, 0.2);
	padding-bottom: 60px;
	padding-top: 32px;
}

.sec3-centred {
	text-align: center;
}
.h4-sec3 {
	font-family: "Raleway-normal";
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 38px;
	text-align: center;

	color: #1a1a1a;
}

.btn-sec3 {
}
.a-btn-sec3 {
	background: #fcaa23;
	border-radius: 42px;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;

	color: #1a1a1a;
	padding-top: 28px;
	padding-bottom: 28px;
	padding-left: 40px;
	padding-right: 40px;
}
