.help-list {
	display: flex;
	align-items: center;
	.help-items {
		margin-right: 32px;
		padding-bottom: 120px;
	}
	.help-logo {
		height: 64px;
		width: 64px;
		margin-left: auto;
		margin-right: auto;
	}
	.p-help {
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 29px;
		text-align: center;

		color: #4d4d4d;
	}
}
.h4-help {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 56px;
	line-height: 66px;
	/* identical to box height */

	color: #1a1a1a;
	text-align: center;
	padding-top: 55px;
	margin-bottom: 0;
	padding-bottom: 32px;
}

@media (max-width: 991px) {
	.h4-help {
		font-size: 24px;
		line-height: 28px;

		color: #1a1a1a;
	}
	.p-help {
		font-size: 14px !important;
		line-height: 17px;
		text-align: center;

		color: #4d4d4d;
	}
	.helpslide {
		margin: 0 auto;

		overflow: hidden;
		.slider-items {
			margin-left: 63px;
		}
		.slick-dots {
			display: flex;
			justify-content: center;
			margin: 0;
			padding: 1rem 0;
			display: flex;
			position: absolute;
			top: 65%;
			left: 45%;

			list-style-type: none;
			li {
				margin: 0 0.25rem;
			}
			button {
				display: block;
				width: 1rem;
				height: 1rem;
				padding: 0;

				border: none;
				border-radius: 100%;
				background-color: orange;

				text-indent: -9999px;
			}
		}
	}
}
@media (min-width: 992px) {
	.helpslide {
		display: none !important;
	}
}
