.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}

.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;

	// outline: 2px solid #ff7518;
}
@media (max-width: 1200px) {
	.container {
		max-width: 970px;
		overflow: hidden;
	}
}
@media (max-width: 992px) {
	.container {
		overflow-x: hidden;
		width: 100%;
		max-width: 991px;
	}
}
@media (max-width: 597px) {
	.container {
		max-width: none;
		overflow-x: hidden;
		max-width: 524px;
	}
}
@media (max-width: 596px) {
	.container {
		max-width: none;
		overflow-x: hidden;
		max-width: 440px;
	}
}

section {
	margin-top: 0;
}

ul {
	/* display: flex; */
	list-style-type: none;
	padding: 0;
	margin: 0;
}

img {
	display: block;
	width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}
