- const siteVersion = '0.0.0.0'
- const siteName = 'Школа підготовки до ЗНО та ДПА'
- const siteDescription = 'Безкоштовні уроки! Можливість вибрати необхідну кількість предметів, онлайн урок з викладачем, доступні записи уроків. Допомога психолога, зручний графік занять, заняття онлайн та офлайн. Водній групі до 10 людей. Також в нашому арсеналі всі необхідні предмети для підготовки до ЗНО та ДПА.'
