section.section-hero
	div.container
		div.hero-page
			h1.tittle-hero  Школа підготовки до ЗНО та ДПА
			p.p-hero Хочеш здати ЗНО або ДПА на високий бал? Тоді тобі до нас!
			div.btn-hero
				a.a-hero(href="/") ЗАПИСАТИСЯ
		//- div.description-school
		//- 	ul.description-list
		//- 			li.description-items Всі предмети ЗНО та ДПА
		//- 				img.description-logo(src="images/common/1.svg", alt="")
		//- 			li.description-items Зручний графік занять
		//- 				img.description-logo(src="images/common/2.svg", alt="")
		//- 			li.description-items Заняття онлайн та офлайн
		//- 				img.description-logo(src="images/common/3.svg", alt="")
		//- 			li.description-items В одній групі до 10 людей
		//- 				img.description-logo(src="images/common/1.svg", alt="")




