
section.section-hero
	div.container
		div.hero-page
			h1.tittle-hero  Школа підготовки до ЗНО <br>  та ДПА
			p.p-hero Хочеш здати ЗНО або ДПА на високий <br> бал? Тоді тобі до нас!

			div.btn-hero
				a.a-hero(href="https://t.me/ibondarik") ЗАПИСАТИСЯ
			img.adap-hero(src="images/common/hero.svg", alt="")
		div.description-school
			ul.description-list.visibiliti
					li.description-items
						img.description-logo(src="images/common/1.svg", alt="")
						p.p-descriprion Всі предмети ЗНО та ДПА
					li.description-items
						img.description-logo(src="images/common/2.svg", alt="")
						p.p-descriprion Зручний графік занять
					li.description-items
						img.description-logo(src="images/common/3.svg", alt="")
						p.p-descriprion Заняття онлайн та офлайн
					li.description-items
						img.description-logo(src="images/common/4.svg", alt="")
						p.p-descriprion В одній групі до 10 людей

		div.description-school.swiper-container
			ul.description-list.sliderhero
				li.description-items.slider-items
					img.description-logo(src="images/common/1.svg", alt="")
					p.p-descriprion Всі предмети ЗНО та ДПА
				li.description-items.slider-items
					img.description-logo(src="images/common/2.svg", alt="")
					p.p-descriprion Зручний графік занять
				li.description-items.slider-items
					img.description-logo(src="images/common/3.svg", alt="")
					p.p-descriprion Заняття онлайн та офлайн
				li.description-items.slider-items
					img.description-logo(src="images/common/4.svg", alt="")
					p.p-descriprion В одній групі до 10 людей












