section.page-sec1
	div.container
		div.text-sec1
			h2.h2-sec1 Наші предмети
			p.p-sec1 В нашому арсеналі всі необхідні предмети для підготовки до ЗНО та ДПА.
		div.slider
			div.slider-items
				div
					+icon-multi("p1")
					+icon-multi("p2")
			div.slider-items
				div
					+icon-multi("p3")
					+icon-multi("p4")
			div.slider-items
				div
					+icon-multi("p5")
					+icon-multi("p6")
			div.slider-items
				div
					+icon-multi("p7")
					+icon-multi("p8")






















