section.page-sec2
	.container
		.text-sec2
			h3.h3-sec2 Благодійність
			p.p1-sec2
				| Наразі заняття в нашій школі безкоштовні,
				br
				| 				адже в цей нелегкий час ми хочемо
				br
				| 				допомогти молоді будувати своє майбутнє!
			p.p2-sec2
				| Хочеш допомогти і маєш
				br
				| 				змогу? Приєднуйся!
		ul.buy-section
			li.buy-section-items.buy-section-top
				.pd-box-text
					h4.text-block-one Безкоштовні уроки
					p.p-text-block-one
						| можливість вибрати необхідну кількість предметів
					p.p-text-block-one онлайн урок з викладачем
					p.p-text-block-one доступні записи уроків
				.btn-pay
					a(href='') ЗАПИСАТИСЯ
			li.buy-section-items.buy-section-mid
				.pd-box-text
					h4.text-block-one Допомога школі
					p.p-text-block-one
						| якщо є можливість і ,
						br
						| 				бажання можете
						br
						| 				допомогти нашій
						br
						| 				школі розвиватися
					p.p-text-block-one ми стараємося стати кращими
				.btn-pay
					a(href='') ДОПОМОГТИ
			li.buy-section-items.buy-section-bottom
				.pd-box-text
					h4.text-block-one Допомога дітям
					p.p-text-block-one
						| багатьом дітям довелося покинути власний дім
					p.p-text-block-one
						| в них більше немає можливості спокійно навчатися
					p.p-text-block-one давайте разом допоможемо дітям
				.btn-pay
					a(href='') ДОПОМОГТИ
