section.page-sec3
	div.container
		.sec3-centred
			h4.h4-sec3 Пройди тест та дізнайся свій рівень знань
			.btn-sec3
				a.a-btn-sec3(href="https://docs.google.com/forms/d/e/1FAIpQLSdGLanrms_rEmihq5VbHLCvQYXRrAeHK7BYd6suyOFy9Y9T2w/viewform") пройти тест
