section
	.container
			div.help-school
			h4.h4-help Допомога психолога
			ul.help-list
					li.help-items
						img.help-logo(src="images/common/help.svg", alt="")
						p.p-help В ці нелегкі часи нам всім потрібна моральна підтримка та допомога психолога, особливо дітям
					li.help-items
						img.help-logo(src="images/common/help.svg", alt="")
						p.p-help Наші профорієнтологи допоможуть тобі зрозуміти ким ти хочеш бути та визначитися з професією
					li.help-items
						img.help-logo(src="images/common/help.svg", alt="")
						p.p-help Ми завжди вислухаємо, підтримаємо, та допоможемо розібратися з будь-якою проблемою

