section.sec5
	.container
		.text-sec5
			h3 Як приєднатися
			p Вже прагнеш у нас навчатися? Тоді дивися інструкцію <br> як до нас приєднатися :)
			.parent
				.colum1
					.div1
						p.number 01
						p.text
							| Реєструєшся на нашому сайті і тобі <br>  телефонує наш менеджер, можеш з  нею обговорити все, що тебе цікавить <br>  :)
					.div1.textnom
						p.number 03
						p.text.textnom
							| Навчаєшся з усією старанністю аби наша праця не була даремною
				.colume2
					.div2
						p.number 02
						p.text Приходиш на пробне заняття та тестиш в режимі реального часу чи все тобі підходить
					.div2.textnom
						p.number 04
						p.text Успішно здаєш ЗНО або ДПА і не забуваєш поставити лайк :)

