section
	div.container
		div.text-sec5
			h4.h4-sec5 Як приєднатися
			p.p-sec5 Вже прагнеш у нас навчатися? Тоді дивися інструкцію як <br> до нас приєднатися :)
		div.gg
			div.text-flex
				div.text1
					span.text-number1 01
					p Реєструєшся на нашому сайті і тобі телефонує наш менеджер, можеш з нею обговорити все, що тебе цікавить <br> :)
				div.text3
					span.text-number2 03
					p Навчаєшся з усією старанністю аби  наша праця не була даремною

			div.text-flex2
				div.text2
					span.text-number3 02
					p Приходиш на пробне заняття та тестиш в режимі реального часу чи все тобі підходить

				div.text4
					span.text-number4 04
					p Успішно здаєш ЗНО або ДПА і не забуваєш нам подякувати :)
