footer.footer-color
  .container
    .footer-add
      .footer-logo
        img.logo(src="images/common/logo.svg", alt="логотип")
      ul.contact
        li.item-contact
          b  Валерия
          |  +380666146404
        li.item-contact
          b Анна
          |  +380960933838
        li.item-contact
          b  Валерия
          |  +380994160329
      .footer-cont
        ul.add
          li
            p.text-add hr@remotemployees.com
            p.text-add ул. Рымарская 22, Харьков, Украина
            svg.size-svg
              use(href='./images/symbol-defs.svg#icon-viber')
            svg.size-svg
              use(href='./images/symbol-defs.svg#icon-fb')
            svg.size-svg
              use(href='./images/symbol-defs.svg#icon-insta')
            svg.size-svg
              use(href='./images/symbol-defs.svg#icon-whatsapp')
            svg.size-svg
              use(href='./images/symbol-defs.svg#icon-tg')
  b.item-company Rem
