header.page-header
	div.container
		div.nav-container
			img.logo(src="images/common/logo.svg", alt="логотип")
			nav.nav-menu
				ul.nav-list
					a.link-items(href="")
						li.list-items Головна
					a.link-items(href="")
						li.list-items Предмети
					a.link-items(href="")
						li.list-items Благодійність
					a.link-items(href="")
						li.list-items Як приєднатися
					a.link-items(href="")
						li.list-items
							span.custom-font ЗАПИСАТИСЯ







